@media screen and (max-width: 800px) {
    div.information {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 800px) {
    section.contacts { 
        display: flex;
        flex-direction: column;
        margin-left: 10px;
    
    }
  }

  @media screen and (max-width: 800px) {
    div.restaurant { 
        display: flex;
        flex-direction: column;
        width: 500px;;
        
    
    }
  }
  @media screen and (max-width: 800px) {
    h2.contactt{ 
        font-size: 20px;;
        
        
        
        
        
    
    }
  }

  @media screen and (max-width: 800px) {
    footer { 
        display: flex;
        flex-direction: column;
        height: 100%;
    
        
    
    }
  }

  @media screen and (max-width: 800px) {
    div.shelf { 
       
      margin-left: 130px;
    
        
    
    }
  }
